language: rust
rust:
  - stable
  - beta
  - nightly

matrix:
  include:
    # works on Precise and Trusty
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-7
      env:
        - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"

script:
  - eval "${MATRIX_EVAL}"
  - mkdir gen/
  - bash test.sh

cache: cargo
